name: Build DAT

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Install asciidoctor-reducer
        run: sudo gem install asciidoctor-reducer --pre

      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Reduce readme
        run: |
          asciidoctor-reducer -o DAT.adoc DAT-web.adoc
          asciidoctor-reducer -o DAT.adoc DAT.adoc

      - name: Commit readme
        uses: EndBug/add-and-commit@v8
